.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {
  width: 200px;
  position: absolute;
  left: 250px;
  top: 100px;
  z-index: 1;
}

.speech {
  font-size: 18px;
  position: absolute;
  left: 256px;
  top: 130px;
  z-index: 2;
}

.bowser {
  width: 300px;
  position: absolute;
  left: 430px;
  top: 120px
}